@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="aboutCont">
    <div class="row">
        <div class="col" id="banner">
            <img style="margin-right:200px" height="100" width="200" src="~/img/pasta/005.jpg" alt="">
            <img style="margin-right:200px" height="100" width="200" src="~/img/pasta/011.jpg" alt="">
            <img style="margin-right:200px" height="100" width="200" src="~/img/pasta/SS.jpg" alt="">
            <img style="margin-right:0px" height="100" width="200" src="~/img/pasta/ehud-neuhaus-ylLAdEnKV2k-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="mainAC">
                <h1>    我們的初衷 ~ </h1>

                <p>
                    1983年初春，我們在桃園楊楊梅職訓局對面二樓開設桃園第一家義大利麵餐廳，提供各式義大利麵、墩飯、沙拉點心及飲品造成轟動，甚至成為年輕男女約會場所的首選。
                </p>

                <p>
                    接下來的幾年內，隨著經濟發展的與顧客對我們產品的喜愛，我們朝著連鎖品牌邁進，迄今為止，我們有十五家店的規模，服務新竹以北民眾。
                </p>

                <p>
                    經過多年的努力，我們從未懈怠，在技術上不斷的改進，口味上不斷的突破 ，致力追求完美的境界。
                </p>

                <p>
                    本公司採用國內外精選食材、原料讓您吃的安心吃的健康以回饋愛護我們的顧客，未來希望能有更多的據點為大家服務。
                </p>

            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="subAC subAC1 m-0">
                    <div class="col-6 m-0" id="ac11" style="">
                        <h1>1</h1>
                        <h2>健康</h2>

                        <p>在這裡，我們為客戶的健康把關，原物料進貨前物料商皆需提出SGS檢驗合格證書，就為了讓客戶吃的安心。</p>
                    </div>
                    <div class="col-6 m-0" id="ac12" style="">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="subAC subAC2" style="">
                    <div class="col-6 m-0" id="ac11">

                    </div>
                    <div class="col-6 m-0 " id="ac12">
                        <h1>2</h1>
                        <h2>清潔</h2>

                        <p>在這裡，我們所有的店內設備和食材，都確保安全和清潔，就為了給您提供一個安心的飲食。</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="subAC subAC3" style="">
                    <div class="col-6 m-0" id="ac11" style="">
                        <h1>3</h1>

                        <h2>品質</h2>
                        <p>在這裡，我們有著最佳的品質，我們不斷進口國外優質原料，同樣的，我們採用最佳的設備和先進的技術，以保證其高品質。</p>
                    </div>
                    <div class="col-6 m-0" id="ac12" >

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="subAC subAC4" style="">
                    <div class="col-6 m-0" id="ac1">

                    </div>
                    <div class="col-6 m-0 " id="ac2">
                        <h1>4</h1>
                        <h2>服務</h2>

                        <p>在這裡，我們有著最優質的服務，我們每一位員工都以最甜美的微笑去迎接顧客，讓顧客們感到一種賓至如歸的感覺。</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



